
<table class="table">

    <thead class="bg-info ">

        <tr>
                <th>#</th>
                <th>Title</th>
                <th>FullContent</th>
                <th>Id</th>
                <th>View</th>
                
        </tr>

    </thead>

    <tbody>

        {{#each articles}}

                <tr>
                    <th scope="row">{{this.order}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.fullContent}}</td>
                    <td>{{this._id}}</td>
                    <td><a href="edit-article/{{_id}}"><button>View</button></a></td>
                    
                </tr>
            
        {{/each}}  

    </tbody>

</table>