 
</ul>


<table class="table">

    <thead class="bg-info ">

        <tr>
                <th>#</th>
                <th>Title</th>
                <th>shortDescription</th>
                <th>_id</th>
                <th>Edit</th>
                
        </tr>

    </thead>

    <tbody>

        {{#each categories}}

                <tr>
                    <th scope="row">{{this.order}}</th>
                    <td>{{this.title}}</td>
                    <td>{{this.shortDescription}}</td>
                    <td>{{this._id}}</td>
                    <td><a href="edit-category/{{_id}}"><button>Update</button></a></td>
                    
                </tr>
                
        {{/each}}  

    </tbody>

</table>