<ul>
    <li>{{singleArticle.title}}</li>
    <li>{{singleArticle._id}}</li>
    <li>{{singleArticle.fullContent}}</li>
    <li>{{singleArticle.order}}</li>
    <li><a href="{{singleArticle._id}}/update"><button>Edit</button></a></li>
    <li><a href="{{singleArticle._id}}/delete"><button>Delete</button></a></li>
</ul>